.search-input {
	border-radius: 20px;
	padding-left: 35px;
}
.search-icon {
	position: absolute;
	top: 11px;
	left: 30px;
}

.search-bar .fa-plus {
	position: absolute;
	top: 11px;
	left: 45px;
	color: white;
}
.search-bar .create-workflow {
	padding-left: 50px;
}
